<form>
    {{#each registerFields}}
        {{ this.label }}<br>
        <input type="text" name="{{ this.name }}" placeholder="{{ this.placeholder }}" oninput="notEmpty(this.name, this.value)"> <br>
		<p id= "{{ this.name }}_ID" ></p>
    {{/each}}  
    {{#each registerBoxes}}
        {{ this.label }}<br>
        {{#each this.choices}}
            <input type="radio" name="{{ @../this.name }}" value="{{ this.value }}"> {{ this.label }}<br>
        {{/each}} 
        <br> 
    {{/each}}  
	{{#each institutionField}}
        {{ this.label }}<br>
        <input type="text" name="{{ this.name }}">
        <br> 
    {{/each}} 
	<br> 
    <input type="submit" value="{{ trans.submit }}">
    <input type="reset" value="{{ trans.reset }}">
</form> 

<script src="/scripts/register.js"></script>